<h1>chat room</h1>
<div id="messages">
  <form>
    <label>Say something</label><br>
    <input type="text" data-behavior="room_speaker">
  </form>
  <%@messages.each do |message|%>
    <%= render "messages/message", message:message %>
  <% end %>
</div>
